*{margin: 0;
padding: 0;
box-sizing: border-box;}


.barrita{display: flex;
justify-content: center;
align-items: center;
height: 25vh;
background-color: white;
}
.naranjita{
height:40% ;
width: 80%;
background-color: #ffd680;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap: 3rem;
}
.raya{
width: 10%;
height: 12.5%;
background-color:white;}

.artículo{
height: 75vh;
width:100% ;
display: flex;
flex-wrap: nowrap;
justify-content: space-evenly;
}

.izq{height: 100%;
width: 29%;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-wrap: nowrap
;
}
.rectangulito{
    width:70% ;
    height: 35%;
    background-color: #ffd680;
    display: flex;
    justify-content:center;
    align-items: center;
}
.rectangulito-mas-chiquito{
width: 75%;
height: 55%;
background-color: #ffb959
;
}
.textitos{width: 70%;
height: 55%;
background-color: white;
display: flex;
flex-direction: column;

}

.blanco{
height: 1.8rem;
width:100% ;
background-color: #cccbca;
margin-top: 2.5rem;
}

.gris{
    height: 1.8rem;
    width: 50%;
    background-color: #656a73;
    margin-top: 2.5rem;
    margin-left: 8.7rem;
}

.der{ background-color: white;
    height: 100%;
width: 71%;
display: flex;
justify-content: center;
align-items: center;
}

.grande{    
    width:85%;
    height: 80%;
    background-color: #656a73;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3rem;
}
.más-chico{
    width: 18rem;
    height: 18rem;
    background-color: #474f59;
}

.comentario{
    width: 28rem;
    height: 18rem;
    background-color: #656a73;
}

.titulito{
width: 40%;
height: 1.5rem;
background-color: #ffd680;
margin-left:10% ;
}


.linea{height: 0.4rem;
width: 80%;
background-color: #cccbca;
margin: 1rem;
margin-left: 2.8rem;
}
.linea5{height: 0.4rem;
    width: 50%;
    background-color: #cccbca;
    margin: 1rem;
    margin-left: 7rem;}